// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$primary-color: hsla(123, 100%, 43%, 0.67);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

h1 {
	color: $primary-color;
}

.post-preview {
	border-bottom: 5px dashed $primary-color;
}

p {
	color: hsla(300, 100%, 58%, 0.74);
}

a, a:visited {
  color: darken($primary-color, 30%);
}

article {

	h1.title {
		font-style: italic;
	}

	.body {
		p {
			font-family: 'Open Sans', Verdana, sans-serif;
			min-width: 100px;
			width: 500px / 960px * 100%;
		}
	}

	time {
		font-style: italic;
		padding: 4px;
		border: 2px solid darken($primary-color, 10%);
		@include border-radius(12px);
	}

}








